<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>user &#8211; user&#039;s Blog!</title>
	<atom:link href="http://{{ request.headers.host }}/author/user/feed/" rel="self" type="application/rss+xml" />
	<link>http://{{ request.headers.host }}</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 18 Feb 2021 15:37:36 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.6.1</generator>
	<item>
		<title>Hello world!</title>
		<link>http://{{ request.headers.host }}/2021/02/18/hello-world/</link>
					<comments>http://{{ request.headers.host }}/2021/02/18/hello-world/#comments</comments>
		
		<dc:creator><![CDATA[user]]></dc:creator>
		<pubDate>Thu, 18 Feb 2021 15:37:36 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http:/?p=1</guid>

					<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
										<content:encoded><![CDATA[
<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
					
					<wfw:commentRss>http://{{ request.headers.host }}/2021/02/18/hello-world/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
