{{ response.set_header('Content-Type', 'application/json') }}
{"status":"success","data":["#75-Ubuntu SMP Tue Oct 1 05:24:09 UTC 2019","(devel)","0.21.0","1.0.0","1.1.2","2.27.0","8.2.3","8.2.4","8.2.5","8.3.0","8.3.1","8.3.2","_","go1.13.7","go1.14.4","go1.15.2","go1.15.8","go1.16.4","go1.17","go1.17.2","unknown","v1","v2"]}