{{ response.set_header('Content-Type', 'application/json') }}
{"status":"success","data":["__name__","action","address","alertmanager","alertname","alertstate","backend","branch","broadcast","call","cause","checksum","code","collector","config","cpu","datasource","device","dialer_name","domainname","duplex","edition","endpoint","env","event","file","filename","fstype","goversion","handler","instance","integration","interval","ip","job","le","listener_name","machine","method","mode","mountpoint","name","nodename","operstate","path","phase","plugin_id","plugin_type","quantile","queue","reason","recovered","release","revision","role","route","rule_group","scrape_job","server","service","severity","signature_status","slice","state","status","status_code","sysname","transport","type","version"]}